<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534312271686-5kbp148it2rskf9lnqie2srlmaermkvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534312271686-5kbp148it2rskf9lnqie2srlmaermkvs</string>
	<key>API_KEY</key>
	<string>AIzaSyArUI1KEDRmTxdyWAC1Q220Ev2euNClBVw</string>
	<key>GCM_SENDER_ID</key>
	<string>534312271686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1Admin</string>
	<key>PROJECT_ID</key>
	<string>simphair-c4676</string>
	<key>STORAGE_BUCKET</key>
	<string>simphair-c4676.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534312271686:ios:f889db98c9dda11862af47</string>
</dict>
</plist>